# Fetching WHO's situation reports on COVID-19 as DataFrames

## Get the data

In [1]:
pdf_save_location = '../data/pdf'
csv_save_location = '../data/csv'

from who_covid_scraper import WHOCovidScraper
scraper = WHOCovidScraper('https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports')

scraper.df

   Report_ID       Date                                               Link
0         71 2020-03-31  https://www.who.int/docs/default-source/corona...
1         72 2020-04-01  https://www.who.int/docs/default-source/corona...
2         71 2020-03-31  https://www.who.int/docs/default-source/corona...
3         71 2020-03-31  https://www.who.int/docs/default-source/corona...
4         70 2020-03-30  https://www.who.int/docs/default-source/corona...
..       ...        ...                                                ...
73         5 2020-01-25  https://www.who.int/docs/default-source/corona...
74         4 2020-01-24  https://www.who.int/docs/default-source/corona...
75         3 2020-01-23  https://www.who.int/docs/default-source/corona...
76         2 2020-01-22  https://www.who.int/docs/default-source/corona...
77         1 2020-01-21  https://www.who.int/docs/default-source/corona...

[78 rows x 3 columns]

## Download report for a given date

In [2]:
download = scraper.download_for_date(datearg='23rd of Feb', folder=pdf_save_location)

report for the date 2020/02/23 already exists at ../data/pdf/20200223-sitrep-34-covid-19.pdf. didn't re-download

## Send report for extraction

In [3]:
job = scraper.send_document_to_parsr(download['file'])
job

> Polling server for the job f214dea6618020da1a446307879c1f...
>> Job done!

{'file': '../data/pdf/20200223-sitrep-34-covid-19.pdf',
 'config': 'defaultConfig.json',
 'status_code': 202,
 'server_response': 'f214dea6618020da1a446307879c1f'}

## Assemble the stats from the report

In [4]:
scraper.assemble_data(job['server_response'])

,Province/ Region/ City,"Population (10,000s)",Daily,Unnamed: 3,Unnamed: 4,Unnamed: 5,Cumulative,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,,,Confirmed cases,Suspected cases,Deaths,Confirmed cases,Deaths,,,
1,Hubei,5917,630,631,96,64084,2346,,,
2,Guangdong,11346,3,0,1,1342,6,,,
3,Henan,9605,1,12,0,1271,19,,,
4,Zhejiang,5737,0,2,0,1205,1,,,
...,...,...,...,...,...,...,...,...,...,...
70,Lebanon,1 (0),0 (0),1 (0),0 (0),0 (0),0 (0),,,
71,,,,,,,,,,
72,Subtotal for all regions,1135 (367),178 (1),48 (4),578 (94),331 (268),15 (6),,,
73,International conveyanceâ€¡ (Diamond Princess),634 (0),0 (0),0 (0),0 (0),634 (0),2 (0),,,
74,Grand total,1769 (367),178 (1),48 (4),578 (94),965 (268),17 (6),,,